<?xml version="1.0" encoding="utf-8" ?>
<nlog
       xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogIncludeTimestamp ="true"
      internalLogLevel="Warn" internalLogFile="E:\logs\internal\nlog.txt">

  <variable name="rootlogdir" value="E:\logs\TestNlog"/>

  <targets async="true">
    <target type="File" keepFileOpen="true" openFileCacheTimeout="60" name="myFileTarget" fileName="${rootlogdir}/${level}/testNlog.log" archiveFileName="${rootlogdir}/${level}/archived/archived-{#}.log.zip"
      archiveAboveSize="15000" concurrentWrites="true" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd-HHmmss" maxArchiveFiles="100"
      enableArchiveFileCompression="false" archiveEvery="Day"
      layout="[${longdate}][${uppercase:${level}}][${aspnet-request:serverVariable=REMOTE_ADDR}][${callsite}:${callsite-linenumber}] &#xD;&#xA; ${stacktrace} &#xD;&#xA; ${message}. &#xD;&#xA; ${exception:format=tostring} &#xD;&#xA; #################################################"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="myFileTarget"/>
  </rules>
</nlog>